body {
    background-color: black;    
}

h1 {
    color: white;
    font-family: sans-serif;
    justify-content: center;
    flex-direction: center;
    display: flex;
    
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: center;
    gap: 10px;
    cursor: pointer;
}

.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.684);
    transition: all ease-in-out 0.5;
}

.container img:hover {
    width: 25%;
}